/* Оформлення модального вікна */
.modal-content {
    background-color: #fefefe; /* Білий фон */
    padding: 20px; /* Внутрішній відступ */
    border-radius: 8px; /* Округлені кути */
    width: 80%; /* Ширина 80% від контейнера */
    max-width: 800px; /* Максимальна ширина 800px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь */
}

/* Оформлення кнопки закриття модального вікна */
.close-button {
    position: absolute; /* Абсолютне позиціонування */
    top: 10px; /* Відступ зверху */
    right: 10px; /* Відступ справа */
    font-size: 24px; /* Розмір шрифту */
    font-weight: bold; /* Жирний шрифт */
    color: #555; /* Сірий колір */
    cursor: pointer; /* Курсор у вигляді руки */
}

/* Зміна кольору кнопки закриття при наведенні */
.close-button:hover {
    color: #000; /* Чорний колір */
}

#save-message {
    margin-top: 8px;
    text-align: center;
}